In [17]:
#A(1) 檢查yr是否是閏年
#year=2014
year=int(input("輸入一个年份："))
if (year%4==0) and (year%100 !=0) or (year%400)==0:
    print("{}年是閏年".format(year))
else:
    print("{}年不是閏年".format(year))

輸入一个年份： 2014

2014年不是閏年

In [19]:
#A(2) 去除重複
nums=[1,1,1,2,2,3,4,5,6,6,7,8,9,9]
print(list(set(nums)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
#A(3) 升序和降序
x=[10, 5, 1, 4, 2, 7, 9,3]
x.sort()
print(x)

xsorted = sorted( x, reverse=True)
print(xsorted)

[1, 2, 3, 4, 5, 7, 9, 10]
[10, 9, 7, 5, 4, 3, 2, 1]

In [28]:
#B 利用Python的Set和Dict
Mathematics = {'Tom', 'John', 'Mary', 'Jimmy', 'Sunny', 'Amy', 'Chris'}
English = {'John', 'Mary', 'Tony', 'Bob', 'Pony', 'Tom', 'Alice'}

{'Mary', 'John', 'Tom'}

In [33]:
#數學考試通過但英文考試未通過
print( Mathematics - English )

#通過兩次考試
print( Mathematics & English )

#班級學生總數
print(len( Mathematics | English ))

{'Amy', 'Jimmy', 'Chris', 'Sunny'}
{'Mary', 'John', 'Tom'}
11

In [46]:
#a 使用dict和list來儲存兩位學生的作業成績
#b 計算作業成績的平均值。

import statistics

Amy = {80, 100, 90, 95, 85}
Tony = {100, 93, 75, 80, 85}

mean1 = statistics.mean(Amy)
mean2 = statistics.mean(Tony)
mean3 = statistics.mean(Amy & Tony)

print(mean1, mean2, mean3)

90 86.6 88.33333333333333